/* Empty. Add your own CSS if you like */

#home {
  background-color: teal;
}
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}
#mapBtn {
  float: right;
  margin-top: 20px;
}
